.main {
    // &__controller {
    //     max-width: 100%;
        
    // }
    // &__channel {
    //    margin: auto 1rem;
    // }
    
    &__content {
       border-bottom: 1px solid $backgroundColor;
       padding-bottom: 1.5rem;
       margin: auto 1rem;
    }

    &__title {
        margin: 1.75rem 0 1rem 0;
    }
    &__title-heading {
        @include hOneMobile;
        margin: 0;
    }

    &__channel-first {
        display: flex;
        align-items: baseline;
    }

    &__channel-second {
        display: flex;
        align-items: baseline;
    }
    // &__channel-fistBox{
    //     display: flex;
    // }


    &__channel-heading {
        margin: 0 0.5rem 2rem 0;
    }
     
    
    &__channel-boxOne {
        display: flex;
        margin-right: 2.5rem;
    }

    &__channel-boxTwo {
        display: flex;
    }

    &__channel-fistBox-icon {
        margin-right: 0.5rem;
    }
    
    &__channel-fistBox {
        margin-right: 2.5rem;
    }

    &__description {
        // @include paraMobile;
        margin: 1.5rem 1rem 0;
    }

    // // ==============tablet====================
    @include tablet {

        &__title {
            margin: 3rem 0 1.5rem;
        }
        &__content {
            margin: auto 1.5rem;
        }
       
        &__channel {
           display: flex;
           justify-content: space-between;
        //    margin: auto 1.5rem;
        }
        
        &__channel-boxOne {
            margin-right: 1.5rem;
        }

        &__title-heading {
            @include hOneTablet;
        }
        &__channel-heading {
            margin: 0 0.5rem 0 0;
        }

        &__description {
            @include paraTablet;
            margin: 2.5rem 0 4rem 1.5rem;
            width: 68.28vw;
        }
    
    }

    // ==================desktop=========================
    @include desktop {
        border-right: 1px solid $backgroundColor;
        &__content {
            margin-right: unset;
            // width: 49.44vw;
            margin-left: 0;
            padding-right: 32px;
        }

        &__description {
            margin-right: unset;
            margin-left: 0;
            width: 36.04vw;
        }


    }


}