.videos {
    margin: 2.5rem 1rem 0;
        &__heading {
            @include hForeMobile;
            color: $backgroundColor;
        }

        &__item-image {
            border-radius: 5px;
            width: 120px;
            height: 70px;
            cursor: pointer;
            object-fit: cover;
        }

        &__item {
            display: flex;
            margin-bottom: 1.5rem;
        }

        &__link {
            display: flex;
            text-decoration: none;
            color: unset;
            cursor: unset;
        }

        &__item-boxOne {
            margin-right: 16px;
        }

        &__item-title {
            margin: 0;
            height: 36px;
            overflow: hidden;
            @include hForeMobile;
        }

        &__item-channel {
            margin: 0.5rem 0 ;
            @include paraMobile;
        }
    // ==============tablet=================

    @include tablet {
        margin: 2.5rem 1.5rem 0;
    

        &__heading {
            margin-bottom: 2.5rem;
        }

        &__item-title {
            width: 177px;
            height: unset;
            @include hForeTablet;
        }
        
        &__item-channel {
            @include paraTablet;
        }

    }

// =============desktop==================

    @include desktop {
        margin: 2.5rem 0 0 1.5rem;
        
    }


}