.reviews {   
    color: #323232;
    // @include mobileText;
    margin: 0 1rem 2.5rem;

    &__block {
        border-bottom: 1px solid $backgroundColor;
        display: flex;
        padding-top: 1.5rem;
    }

    &__image {
        background-color: $backgroundColor;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-right: 0.5rem;
    }

    &__inside {
        width: 80vw;
    }

    &__inside-first {
        display: flex;
        // flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;
    }

    &__inside-first-para {
        margin: 0;
        &--color {
            color: $backgroundColor;
            font-weight: bold;
        }
    }

    &__inside-second-para {
        margin-bottom: 1.5rem;
        margin-top: 0.5rem;
        font-weight: normal;
        // width: 67.18vw;
    }


    // ==============reviws-tablet==================
    
//         @include tablet {
//             @include tabletText;
//             margin: 0 7.5rem 2.5rem;

//             &__block {
//                 border-bottom: 1px solid $backgroundColor;
//                 width: 68.75vw;
//             }
        
//             &__inside {  
//                 width: unset;
//                 // padding: 24px 0 8px 0;
//             }

//             &__inside-first {

//                 display: flex;
//                 justify-content: flex-start;
//                 align-items: baseline;
//             }

//             &__inside-first-para {
//                 margin-right: .75rem;
//             }

//             &__inside-second-para {
//                 // margin-bottom: 24px;
//                 width: 61.458vw;
//                 font-weight: normal;
//             }
//         }

//     // ===============reviews-desktop============


//         @include desktop {
//             margin: 0 31.66vw 2.5rem 31.66vw;
//             &__block {
//                 border-bottom: 1px solid $backgroundColor;
//                 width: 36.66vw;
//             }
//             &__inside-second-para {
//                 width: 32.77vw;
//                 font-weight: normal;
//             }
//         }
}