$tablet-breakpoint: 768px;
$desktop-breakpoint: 1440px;








// =========color-start============
$black: #000000;
$lightBlack: #323232;
$white: #ffffff;
$offWhite: #fafafa;
$brightBlack: #645e5e;
$backgroundColor: rgba(0, 0, 0, 0.3)